@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');

@font-face {
    font-family: NexaBold;
    src: url('../assets/Fonts/nexa/Nexa\ Bold.otf');
  }

body {
    margin: 0;
}

h1{
    font-family: NexaBold;
    font-size: 45pt;
}

h2{
    font-family: NexaBold;
    font-size: 33pt;
}

h3{
    font-family: NexaBold;
    font-size: 25pt;
}

h4{
    font-family: NexaBold;
    font-size: 14pt;
}

h5{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    display: inline-flex;
}

p{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
}

a{
    color: #016897;
    transition: 0.2s;
}
a:hover{
    color: #31c5a0;
}

//HOME PAGE

.titlehome{
    font-size: 60pt;
    margin-bottom: 0;
}

.topbackground{
    // background-color: rgb(236, 241, 243);
    background-image: url('/homebanner.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 10px;
    margin-bottom: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(206, 206, 206, 0.493);
}

.topmargin{
    margin-top: 80px;
}

.hometitle{
    margin: 0px 30px 0px 30px;
}

.homesubtitle{
    margin-top: -20px;
}

.desktophomesubtitle{
    font-size: 20pt;
}

.homeimg{
    height: auto;
    max-width: 95%;
}

.homeimgcont{
    display: flex;
    justify-content: center;
}

.desktophomeimg{
    height: auto;
    max-width: 800px;
    width: 100%;
}

.desktophomeimgcont{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin: 10px;
}

@media (min-width: 800px) {
    .homedesktopflex {
        display: flex;
        align-items: center;
        // justify-content: space-around;
        width: 80%;
        // margin: 0px 70px 0px 60px;
    }
  }

@media (max-width: 800px) {
    .homedesktopflex {
        display: flex;
        align-items: center;
        // justify-content: space-around;
        flex-direction: column;
        margin: 0px 10px 0px 10px;
    }
  }

  @media (max-width: 820px){
      .ui{
          width: 100% !important;
      }
  }

  .downarrow{
      width: 60px;
      cursor: pointer;
      transition: 0.4s;
  }

  .downarrowcont{
      display: flex;
      width: 100%;
      justify-content: center;
      margin: 220px 0px 220px 0px;
  }

  .downarrowconthome{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

  .downarrow:hover{
      transform: scale(1.3);
  }

  #ui{
    height: auto;
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 30px;
  }

  .uihomeimgcont{
    height: auto;
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 30px;
  }

  .uihomeimgcontmobile{
    height: auto;
    max-width: 800px;
    width: 100%;
    display: flex;
  }

  .uihomeimg{
    height: auto;
    max-width: 95%;
  }

  .uihomeimgmobile{
    height: auto;
    max-width: 95%;
    margin-right: 40px;
  }

  .homesectiontitle{
      margin-left: 15px;
  }

  .homesectiondesc{
      font-size: 15pt;
      margin-left: 15px;
      max-width: 350px;
  }

  .sectionhomebutton{
      margin-left: 15px;
      margin-top: 30px;
  }

  .graphicdesignhome{
      display: flex;
      justify-content: center;
      width: 90%;
  }

  .subhome{
      margin-top: 170px;  
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  @media(max-width: 821px){
      .graphicdesignhome{
        flex-direction:column;
    }
  }

  .graphicdesignhomemobile{
    margin-top: 170px;
    
}

  @media (min-width: 480px) {
    .graphicdesignhome {
        display: flex;
        justify-content: center;
    }
    .graphichometext{
        display: flex;
        flex-direction: column;
    }
  }



  //UI UX DESIGN PAGE

  .uiux{
      margin: 0px;
  }

  html{
      scroll-behavior: smooth;
      -webkit-tap-highlight-color: transparent;
    //   user-select: none;
    //   -webkit-user-select: none;
      overflow-x: hidden;
  }

  ::selection {
    color: none;
    // background: none;
}

.totoparrow{
    width: 50px;
    cursor: pointer;
    transition: 0.4s;
}

.totoparrow:hover{
    transform: scale(1.5);
}

.backtotop{
    position: absolute;
    right: 60px;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backtotopui{
    position: absolute;
    right: 60px;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.totoptext{
    margin-top: 0;
    font-size: 12pt;
}

.margintop{
    margin:50px;
}

  .scroll{
    transition-delay: 1000ms;
    transition-timing-function: ease-out;
  }

  .uititlecont{
      width: 100%;
      background-image: url('/uiuxbanner.png');
      background-size:cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
  }

  #centeruititle{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .titlecont{
    width: 100%;
    background-image: url('/graphicdesignbanner.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .subtitlecont{
      margin-top: 6%;
      text-align: center;
  }

  .uiuxtitle{
      font-size: 11vw;
      color: white;
  }

  .uiuxsubtitle{
      margin-top: -70px;
      font-size: 20pt;
      color: white;
  }

  @media (max-width: 1400px){
      .ddgallery{
          width: 80% !important;
      }
      .craigslistgallery{
        width: 90% !important;
    }
    .uidownloads{
        padding: 20px 30px 30px 30px !important;
    }
  }

  @media (max-width: 1000px){
      .ddgallery{
          width: 90% !important;
      }
      .craigslistgallery{
        width: 90% !important;
    }
  }

  @media (max-width: 600px) {
      .uiuxsubtitle{
          margin: 0px 20px 0px 20px;
          font-size: 15pt;
      }
      #earthherotitle{
          font-size: 35pt !important;
      }
      #ddtitle{
        font-size: 35pt !important;
    }
    #sjtitle{
        font-size: 32pt !important;
    }
    #craigslisttitle{
        font-size: 35pt !important;
    }
      .subprojectinfo{
        margin-left: 46px !important;
        margin-top: 80px !important;
        margin-right: 46px !important;
      }
      .overview{
          font-size: 28pt !important;
      }
      .uisubtitle{
          font-size: 22pt !important;
      }
      .uibutton{
          margin-right: 0px !important;
      }
      .uibuttonflex{
          flex-direction: column;
      }
      .ddgallery{
          width: 90% !important;
      }
      .craigslistgallery{
          width: 90% !important;
      }
  }

  .downarrowcont2{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 90px 0px 40px 0px;
}

.flexbuttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 40px;
}

.downloadsflex{
    width: 100%;
    display: flex;
    justify-content: center;
    
    text-align: center;
}

.uidownloads{
    border: 1px solid lightgray;
    padding: 60px 30px 70px 30px;
    border-radius: 20px;
    margin-top: 120px;
    width: 60%;
}

#earthherocont{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 20px;
}

#craigslistcont{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 20px;
}

#ddcont{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 20px;
}

#sjexplain{
    font-size: 13pt;
    color: rgb(61, 61, 61);
}

#sjcont{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 20px;
}

#sjsubtitle{
    margin-top: -50px;
    font-size: 36pt;
    color: rgb(63, 63, 63);
}

#earthherotitle{
    font-size: 6vw;
    margin-top: 12%;
    text-align: center;
    line-height: 1.2;
}

#craigslisttitle{
    font-size: 6vw;
    margin-top: 12%;
    text-align: center;
    line-height: 1.2;
}

#ddtitle{
    font-size: 6vw;
    margin-top: 12%;
    text-align: center;
    line-height: 1.2;
}

#sjtitle{
    font-size: 6vw;
    margin-top: 12%;
    text-align: center;
    line-height: 1.2;
}

.earthheroimg{
    width: 90%;
    
}

.craigslistgallery{
    width: 76%;
}



.EHimg{
    width: 100%;
}

.ddgallery{
    width: 70%;
}

.flexearthhero{
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.uiprojectinfo{
    // margin: 130px;
    // max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.subprojectinfo{
    max-width: 1620px;
    margin: 130px 90px 130px 90px;
}

.uiprojecttext{
    font-size: 15pt;
}

.uisubtitle{
    color: #444444;
    font-size: 25pt;
    margin-top: 90px;
}

.uibutton{
    margin-top: 30px;
    margin-right: 30px;
}

.uibuttonflex{
    display: flex;
}


//GRAPHIC DESIGN PAGE

@media (max-width: 1512px) {
    .backtotop{
        position: absolute;
        right: 30px;
        margin-top: -20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .margintop{
        margin:70px;
    }
    .backtotopui{
        position: absolute;
        right: 20px;
        margin-top: -70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .graphicproject{
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }
    .subgraphicproject{
        display: flex;
        flex-direction: column;
        align-items: center !important;
        width: 88% !important;
    }
    #motiongraphicproject{
        display: flex;
        flex-direction: column-reverse;
        align-items: center !important;
        width: 88% !important;
    }
    #promoanimation{
        display: flex;
        flex-direction: column-reverse !important;
        align-items: center !important;
        width: 88% !important;
    }
    .graphicprojecttext{
        width: 100% !important;
        margin-top: 30px !important;
    }
    #audiofina{
        width: 100% !important;
        margin-top: 30px !important;
    }
    .projectimage{
        display: flex;
        justify-content: center;
        align-items: center !important;
        width: 100%;
        margin-left: 0 !important;
    }
    #audiofina{
        display: flex;
        justify-content: center;
        align-items: center !important;
        width: 100%;
        margin-left: 0 !important;
    }
    #painting{
        display: flex;
        justify-content: center;
        align-items: center !important;
        width: 100%;
        margin-left: 0 !important;
    }
    .animationcont{
        display: flex;
        justify-content: center;
        align-items: center !important;
        width: 100%;
        margin-left: 0 !important;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        position: relative;
    }
    #albumcover{
        display: flex;
        justify-content: center !important;
        width: 100%;
        align-items: center !important;
        margin-left: 0 !important;
    }
  
    #vector{
        // max-width: 500px;
        display: flex;
        justify-content: center;
        margin-left: 0 !important;
        width: 100%;
    }
    .leftmargin{
        margin:0 !important;
        width: 100% !important;
    }
    .paintingtext{
        width: 100% !important;
        margin-top: 30px !important;
    }
    .videotext{
        width: 100% !important;
        margin-top: 30px !important;
    }
    .graphictitle{
        font-size: 35pt;
    }
    #animatetitle{
        font-size: 35pt;
    }
}

@media (max-width: 850px){
    .flexbuttons{
        flex-direction: column !important;
    }
    #mobilebutton{
        margin-bottom: 30px;
    }
}

@media (min-width: 1513px){
    .projectimage{
        display: flex;
        flex-direction: column;
        margin-left: 90px;
        width: 40% !important;
    }
    #audiofina{
        display: flex;
        flex-direction: column;
        margin-left: 90px;
        width: 40% !important;
    }
    #painting{
        display: flex;
        flex-direction: column;
        margin-left: 90px;
        width: 40% !important;
    }
    .animationcont{
        display: flex;
        flex-direction: column;
        margin-left: 90px;
        width: 40% !important;
        padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  position: relative;
    }
    #vector{
        display: flex;
        flex-direction: column;
        margin-left: 90px;
        width: 40% !important;
    }
    #albumcover{
        display: flex;
        flex-direction: column;
        margin-left: 90px;
        width: 40% !important;
    }
    .graphicprojecttext{
        width: 100% !important;
        max-width: 800px !important;
        margin-left: 90px !important;
    }
    #audiofina{
        width: 100% !important;
        max-width: 800px !important;
        margin-left: 90px !important;
    }
    .paintingtext{
        margin-left: 90px !important;
    }
}


.projectimage{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin-left: 90px;
}
#audiofina{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin-left: 90px;
}
#painting{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin-left: 90px;
}
.animationcont{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin-left: 90px;
    padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  position: relative;
}
#albumcover{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin-left: 90px;
}

.logos{
    max-width: 100%;
}

.graphicproject{
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.graphicprojecttext{
    margin-top: 120px;
    width: 40%;
}

#audiofina{
    margin-top: 120px;
    width: 40%;
}

.subgraphicproject{
    width: 85%;
    display: flex;
    justify-content: center;
}

#motiongraphicproject{
    width: 85%;
    display: flex;
    justify-content: center;
}

#promoanimation{
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.graphictext{
    font-size: 15pt;
}

.gamecubecont{
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}

#vector{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.gamecube{
    max-width: 100%;
}

.gamecubetext{
    margin-top: 120px;
    width: 40%;
    margin-right: 100px;
}

.paintingtext{
    margin-top: 160px;
    width: 40%;
    display: flex;
    flex-direction: column !important;
}

.leftmargin{
    width: 40%;
    margin-left: 100px;
}

.videotext{
    // margin-top: 50px;
    width: 40%;
    display: flex;
    flex-direction: column !important;
}

#animatetitle{
    margin-bottom: 10px;
}

#animatesubtitle{
    color: gray;
    font-size: 20pt;
    margin-top: -20px;
}


#painting iframe{
    width: 100%;
    height: 100%;
}

//ABOUT PAGE

.me{
    max-width: 500px;
    height: auto;
    width: 100%;
    margin-left: 60px;
}

.aboutflex{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.aboutmain{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 130px;
    align-items: center;
}

.abouttext{
    width: 50%;
    margin-right: 120px;
}

.abtext{
    margin-top: 0px;
}

.abouttitle{
    margin-bottom: 60px;
}

.aboutbuttons{
    margin-top: 50px;
    display: flex;
}

.resumemargin{
    margin-right: 35px;
}

@media(max-width: 1000px){
    .craigslistgallery{
        width: 90%;
    }
    .aboutflex{
        flex-direction: column-reverse;
        width: 96% !important;
        align-items: center !important;
    }
    .me{
        margin-left: 0 !important;
    }
    .aboutimg{
        width: 90% !important;
        display: flex !important;
        justify-content: center;
        margin-bottom: 60px;
    }
    .abouttext{
        width: 90% !important;
        margin-right: 0 !important;
    }
    .abouttitle{
        font-size: 33pt;
    }
    .aboutmain{
        margin-top: 50px !important;
    }
}



.videoWrapper{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    display: flex;
    justify-content: center;
    align-items: center !important;
    margin-left: 0 !important;
    max-width: 800px;
}

.videoWrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
}